@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@200&display=swap');
.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: #e6effa;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  display: flex;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}
.home{
  background-color: #e6effa;
color: #5A738E ;

}
/* #image{
  display: flex;
 justify-content: flex-end;
 margin-top: 0px;
} */
.container{
  width: 90%;
  margin-inline: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.container img{
margin-right: -20px;
}

#heading{
  color: #DF843B
}